body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  font-size: 24px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.enquiry-form-container {
  background: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background-color:  #3c6e71;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-btn:hover {
  background-color:  #3c6e71;
}

#success-message {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}
