body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f3f4f6, #e9ecef);
  color: #333;
  line-height: 1.6;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 40px auto;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.tour-info {
  flex: 2;
  padding: 20px;
}

.tour-info img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tour-info h1 {
  color: #2c3e50;
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
}

.details {
  margin-top: 10px;
  font-size: 1rem;
}

.details p {
  margin: 8px 0;
  color: #555;
}

/* Enquiry Section */
.enquiry-section {
  flex: 1;
  background: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.enquiry-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.enquiry-section h2 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.enquiry-section form label {
  display: block;
  margin: 10px 0 5px;
  color: #444;
  font-size: 0.9rem;
}

.enquiry-section form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.enquiry-section form input:focus {
  border-color: #ff6f61;
  outline: none;
}

.enquiry-section form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(135deg, #1f798b, #49b5bc);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.4);
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.enquiry-section form button:hover {
  background: #2C5558;
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(255, 111, 97, 0.5);
}


@media (max-width: 768px) {
  .details-container {
      flex-direction: column;
  }

  .tour-info {
      flex: 1;
  }

  .enquiry-section {
      flex: 1;
  }
}


.error-message {
  color: red;
  font-size: 0.9em;
  display: none;
}