body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

.navbar {
    background-color:  rgba(0, 102, 112, 0.95);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.search-container input {
    width: 300px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #3E7377;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 5px;
}

.destination-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.destination-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    padding: 1.5rem;
    text-align: center;
}

.destination-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.destination-card h2 {
    margin: 0;
    color: rgba(0, 102, 112, 0.95);
}

.destination-card p {
    font-size: 1rem;
    color: #555;
}

.destination-card button {
    background-color: rgba(0, 102, 112, 0.95);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
}